html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../img/instrucciones/InstruccionesFondo.jpeg");
    font-family: 'Cormorant Garamond', serif;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contenedor img {
  width: 200px; /* Ajusta el ancho de la imagen */
  height: 300px;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
  margin-left: 20px;
  border-radius: 20px;
}

h2{
  align-self: center;
}

.naranja{
  color: orange;
}

b{
  background: rgb(131, 130, 130, 0.3);
}