html,
body {
    height: 100%;
    margin: 0;
    background-image: url(../img/juego/escenario.jpg);
    color: white;
    font-weight: bold;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.enemigo{
    flex: 1;
    width: 40%;
    display: flex;
    border: 1px solid #000; /* Añade bordes para visualización */
    margin: 5px 0; /* Espacio entre los elementos */
    background: rgba(68, 27, 14, 0.5);
}

.enemigo img{
    justify-content: baseline;
    margin-right: 20px;
}

.enemigo p{
    flex: 1;
    text-align: center;
    margin-top: 120px;
}

.registro{
    flex: 1;
    width: 40%;
    border: 1px solid #000; /* Añade bordes para visualización */
    background: rgba(68, 27, 14, 0.5);
    overflow-y: auto;
    margin: 0 auto;
    justify-content: center;
}

.registro h2{
    text-align: center;
}

#feed p{
    text-align: left;
    margin-left: 10px;
}

#feed img{
    height: 40%;
    width: 40%;
    border-radius: 10px;
}

.jugador{
    flex: 1;
    width: 40%;
    border: 1px solid #000; /* Añade bordes para visualización */
    margin: 5px 0; /* Espacio entre los elementos */
    background: rgba(68, 27, 14, 0.5);
    display: flex;
}

#jugador{
    justify-content: baseline;
    margin-left: 20px;
}

.jugador p{
    flex: 1;
    text-align: center;
}


#cartas img{
    height: 20%;
    width: 20%;
    border-radius: 10px;
    transition: all 0.5s;
}

#cartas img:hover{
    height: 33%;
    width: 33%;
}

table{
    align-items: center;
    text-align: center;
    
}